In [48]:
import pandas as pd
from finnhub import Client
import json

In [49]:
finnhub_cli = Client("c3r13u2ad3i98m4ier5g")
finnhub_cli.quote("SPYV")

{'c': 39.25,
 'd': 0.34,
 'dp': 0.8738,
 'h': 39.38,
 'l': 39.09,
 'o': 39.14,
 'pc': 38.91,
 't': 1663012800}

In [51]:
finnhub_cli.company_profile2(symbol="AAPL")

{'country': 'US',
 'currency': 'USD',
 'exchange': 'NASDAQ NMS - GLOBAL MARKET',
 'finnhubIndustry': 'Technology',
 'ipo': '1980-12-12',
 'logo': 'https://static.finnhub.io/logo/87cb30d8-80df-11ea-8951-00000000092a.png',
 'marketCapitalization': 2626442.9102072055,
 'name': 'Apple Inc',
 'phone': '14089961010.0',
 'shareOutstanding': 16070.8,
 'ticker': 'AAPL',
 'weburl': 'https://www.apple.com/'}

In [28]:
r =  finnhub_cli.company_basic_financials("AMZN", "all")
# json.dumps(r, indent=3)
formatted_r = {"metric": [k for k, v in r['metric'].items()],
                "value": [str(v) for k, v in r['metric'].items()]}
df = pd.DataFrame(formatted_r)
df.set_index("metric")

                                         value
metric
10DayAverageTradingVolume             48.11788
13WeekPriceReturnDaily                 4.21741
26WeekPriceReturnDaily                -12.4491
3MonthAverageTradingVolume          1354.95999
52WeekHigh                             188.071
...                                        ...
tangibleBookValuePerShareQuarterly    10.92085
tbvCagr5Y                             51.72425
totalDebt/totalEquityAnnual           52.29918
totalDebt/totalEquityQuarterly        62.95718
yearToDatePriceReturnDaily            -23.5171

[124 rows x 1 columns]

In [29]:
row = df.loc[df['metric'] == "beta"]
row

   metric    value
12   beta  1.33607

In [37]:
row['value'].iat[0]

'1.33607'